@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 130 40% 5.88%;

      --primary: 126.9 54.59% 59.41%;
      --primary-foreground: 130 40% 5.88%;

      --card: 130 60% 98.04%;
      --card-foreground: 130 40% 5.88%;

      --popover: 0 0% 100%;
      --popover-foreground: 130 40% 5.88%;

      --secondary: 127.06 54.84% 93.92%;
      --secondary-foreground: 0 0% 0%;

      --muted: 125.45 52.38% 95.88%;
      --muted-foreground: 0 0% 40%;

      --accent: 125.45 52.38% 95.88%;
      --accent-foreground: 127.06 37.78% 8.82%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 127.83 56.1% 91.96%;
      --input: 128.57 15.56% 82.35%;
      --ring: 126.9 54.59% 59.41%;

      --gradient: linear-gradient(90deg, hsl(var(--primary)), hsl(var(--secondary)));

      --radius: 0.7rem;
   }
}

html,
body {
   overflow-y: hidden;
}
